<h1>Photogur</h1>
<h2>(<%= @pictures.length %>) Total</h2>

<%= link_to "New Picture", "/pictures/new" %>
<div class="picture">
  <% @pictures.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <%= link_to image_tag(picture.url, class: "picture"), picture %>
  <% end %>
</div>
