<h1>Photogur</h1>
<h2>(<%= @pictures.length %>) Total</h2>

<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>">
<% end %>
